<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div class="logincontainer">
    <h1>Login</h1>
    <form action='/auth/login' method='post'>
      <label>Email</label>
      <input type='email' name='email' required />
      <label>Password</label>
      <input type='password' name='password' required />
      <button type='submit'>Login</button>
    </form>
  </div>
</body>

</html>